.product-item {
    width: 15rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;
}



.product-item .image{
    width: 13rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s;
}